.profile__add-btn{
  display: block;
  align-self: center;
  width: 150px;
  height: 50px;
  margin:auto;
  margin-right: 0px;
  background-color: black;
  background-image: url('../../../images/add_Vector.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFF;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity .5s ease;
  cursor: pointer;
}
.profile__add-btn:hover{
  opacity: 0.6;
}

@media screen and (max-width: 1024px){
  .profile__add-btn{
    margin: 34px auto 0;
    justify-self: center;
    width: 282px;
    }
}
@media screen and (max-width: 400px) {
  .profile__add-btn{
    background-size: 16px;
  }
}
