.element__like_active-btn{
  display: block;
  cursor: pointer;
  border: none;
  background-color: white;
  background-image: url('../../../../images/elements/like_active.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  width: 22px;
  height: 19px;
  transition: opacity .5s ease;
}
.element__like_active-btn:hover{
  opacity: 0.5;
}
